#battle-container {
	width: 960px;
	margin: 0px auto;
	position: relative;
	margin-top: 10px
}

#battle-container #ranking {
	background-image: url(../images/battle/ranking.png);
	margin: 0px auto;
	width: 471px;
	height: 70px;
	margin-bottom: 10px
}

#battle-container #vs {
	background-image: url(../images/battle/vs.png);
	position: absolute;
	width: 349px;
	height: 448px;
	top: 7px;
	left: 50%;
	margin-left: -175px;
}

#battle-container .player-container {
	position: relative;
}

#battle-container #player {
	float: left
}

#battle-container #enemy {
	float: right
}

#battle-container #divider {
	height: 74px;
	background-image: url(../images/battle/divider.png)
}

#battle-container #players {
	padding: 0px 43px;
	background-image: url(../images/battle/fill.png);
	height: 452px
}

#battle-container #technique-container {
	background-image: url(../images/battle/fill.png);
	padding: 5px 20px
}

#battle-container .top {
	height: 19px;
	background-image: url(../images/battle/top.png)
}

#battle-container .chains {
	height: 19px;
	background-image: url(../images/battle/chains.png);
	margin-top: -22px
}

#battle-container .bottom {
	height: 19px;
	background-image: url(../images/battle/bottom.png)
}

#battle-container #technique-container .item {
	float: left;
	margin: 2px;
	cursor: pointer;
}

#battle-container .log {
	margin: 6px auto 0px auto;
	width: 226px;
	height: 110px;
	overflow: hidden;
}

#battle-container .player-box {
	width: 285px;
	position: relative;
}

#battle-container .player-box img {
	display: block;
	margin: 0px auto
}

#battle-container .player-box .name {
	position: relative;
	font-size: 16px;
	top: -30px;
	color: #fed5a3;
	font-weight: bold;
	text-align: center;
}

#battle-container .player-box .mana {
	position: absolute;
	top: 348px;
}

#battle-container .player-box .mana, #battle-container .player-box .mana-fill, #battle-container .player-box .mana .text {
	width: 201px;
	height: 22px;
}

#battle-container .player-box .mana-fill {
	width: 0px
}

#battle-container .player-box .mana .text {
 	position: absolute;
	top: 4px;
	font-weight: bold;
}
#battle-container #player .mana .text, #battle-container #player .life{
	text-align: right;
	padding-right: 10px;
}
#battle-container #enemy .mana .text, #battle-container #enemy .life{
	text-align: left;
	padding-left: 10px;
}
#battle-container #player .mana {
	background-image: url(../images/battle/bars/battle_mb_l.png);
	right: 1px;
}

#battle-container #player .mana-fill {
	background-image: url(../images/battle/bars/battle_mb_l_fill.png);
	background-position: right top;
	float: right;
}

#battle-container #enemy .mana {
	background-image: url(../images/battle/bars/battle_mb_r.png)
}

#battle-container #enemy .mana-fill {
	background-image: url(../images/battle/bars/battle_mb_r_fill.png)
}

#battle-container .type-filter {
	background-color: #0f2e40;
	float: right;
	padding: 4px 6px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .7), inset 0px 0px 2px 2px rgba(22, 69, 96, .8);
	color: #ffe9a5;
	font-weight: bold;
	margin-right: 10px;
	cursor: pointer;
}

#battle-container .type-filter.disabled {
	color: #133040 !important;
	background-color: #071928 !important;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .7), inset 0px 0px 2px 2px rgba(10, 37, 60, .8);
}

#battle-container .player-box .life {
	position: absolute;
	bottom: 3px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#battle-container .log{
	color: #426785;	
}

#battle-container .log .p {
	color: #FFF;
	font-weight: bold;
	font-size:	12px;
}

#battle-container .log .i {
	cursor: pointer;
	color: #51fc54;
}

#battle-container .log .d {
	color: #d32f34;
	
}

#battle-container .filter-container {
	margin-top: 47px;
	position: absolute;
	right: 20px;
}

#battle-container #divider .text {
	position: absolute;
	left: 25px;
	margin-top: 48px;
	font-size: 17px;
	color: #9fc0dd;
	font-weight: bold;
}

#battle-container .log-scroller {
	position: absolute;
	bottom: 14px;
	left: 62px;
}

#battle-container .log-scroller span {
	cursor: pointer;
}

#battle-container .log-scroller span:hover {
	color: #FFF
}

#battle-container .modifiers {
	position: absolute;
	width: 24px;
}

#battle-container #player .modifiers {
	left: 0px;
}

#battle-container #enemy .modifiers {
	right: 0px;
}

#battle-container .player-info {
	width: 228px;
	margin: 0px auto;
}

#battle-container .player-info .anime {
	color: #FFF;
}

#battle-container .player-info .headline {
	color: #fdd555;
	font-size: 16px
}

#battle-container .player-info .level {
	width: 35px;
	background-image: url(../images/bg_lvl.jpg);
	height: 42px;
	font-size: 16px;
	padding-top: 17px;
	text-align: center;
	color: #fff;
}

#battle-container #player .player-info .level, #battle-container #player .player-info .anime-headline {
	float: left;
	margin-right: 5px
}

#battle-container #enemy .player-info .level, #battle-container #enemy .player-info .anime-headline {
	float: right;
	margin-left: 5px
}

#battle-container .life-container {
	margin-bottom: 10px;
	position: relative;
	margin-top: -17px;
}

#battle-container .modifier-tooltip {
	width: 350px;
	padding: 10px;
	line-height: 18px;
	text-align: left;
}